@model FashionHouse.Data.ViewModel.AttributesView

@using (Html.BeginForm("AddAttribute", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        <label>Имя аттрибута</label>
        <input type="text" name="AttributesView.ProductAttribute.Name" />
    </div>
    <div>
        <label>Описание</label>
        <input type="text" name="AttributesView.ProductAttribute.Description" />
    </div>
    <div>
        @for (int i = 0; i < 8; i++)
        {
            <div class="productAttribute.Value">
                    <label>Значение аттрибута № @(i+1)</label>
                    <input type="text" name="AttributesView.ProductAttributeValues[@i].AttributeValue" />
            </div>
        }
    </div>
    <hr>
    <input type="submit" value="Отправить" class="btn btn-success" />
} 