@model List<FashionHouse.Data.DbModel.ProductCategory>

@using (Html.BeginForm("AddCategory", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        <label>Название категории:</label>
        <input type="text" name="ProductCategory.Name" />
    </div>
    <div>
        <label>Описание категории:</label>
        <input type="text" name="ProductCategory.Description" />
    </div>
    <br />
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Родительская категория:
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            @foreach (var category in Model)
            {
                <input type="radio" value="@category.Id" name="ProductCategory.ParentId" />
                <label for="@category.Id">@category.Name</label>
                <br />
            }
        </div>
    </div>
    <hr>
    <input type="submit" value="Отправить" class="btn btn-success" />
}